* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0; /* Kolor tła dla jasnego motywu */
  color: #333; /* Kolor tekstu dla jasnego motywu */
  transition: background-color 0.3s, color 0.3s, font-size 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff; /* Tło kontenera */
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #444; /* Kolor nagłówka */
}

.setting {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  font-size: 16px;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin-left: 10px;
}

select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  background-color: #007bff; /* Kolor tła przycisku */
  color: white; /* Kolor tekstu przycisku */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: #0056b3; /* Kolor tła przycisku po najechaniu */
}

/* Style dla ciemnego motywu */
.dark-theme {
  background-color: #333; /* Kolor tła dla ciemnego motywu */
  color: #fff; /* Kolor tekstu dla ciemnego motywu */
}

.large-font {
  font-size: 1.5em; /* Zwiększenie rozmiaru czcionki */
}

/* Dodatkowe style dla kontenera w ciemnym motywie */
.dark-theme .container {
  background-color: #444; /* Tło kontenera w ciemnym motywie */
  color: #fff; /* Kolor tekstu w kontenerze w ciemnym motywie */
}

.dark-theme h1 {
  color: #fff; /* Kolor nagłówka w ciemnym motywie */
}

.dark-theme button {
  background-color: #0056b3; /* Kolor tła przycisku w ciemnym motywie */
}

.dark-theme button:hover {
  background-color: #007bff; /* Kolor tła przycisku po najechaniu w ciemnym motywie */
}
